---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
SortIncludes: CaseSensitive
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
Standard: c++17
...
